{# The basic HTML skeleton for the whole application #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="./src/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./src/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./src/favicon-16x16.png">
    <link rel="manifest" href="./src/site.webmanifest">
    <link rel="mask-icon" href="./src/safari-pinned-tab.svg" color="#00aba9">
    <link rel="shortcut icon" href="./src/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="./src/browserconfig.xml">
    <meta name="theme-color" content="#00aba9">
    <title>Mint K(AI)</title>

    <link rel="stylesheet" href="./src/scss/index.scss">

  </head>
  <body>

    {% block body %}
    {% endblock %}

    <script src="./src/index.js"></script>
  </body>
</html>
